@import "tailwindcss";

@theme {
  /* On dit à Tailwind : "La police par défaut ET la police Serif sont toutes les deux Fraunces" */
  --font-sans: var(--font-alegreya), ui-serif, Georgia, serif;
  --font-serif: var(--font-alegreya), ui-serif, Georgia, serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}